<nav id="nav-main" class="nav-main open" aria-label="main navigation">

    <section class="side-header">

        <div class="side-header_logo">

            <i class="side-nav_icon">
                <img src="/images/system/logo" alt="application logo">
            </i>

            <p>Administrator</p>
        </div>

        <div class="side-header_toggle-btn">
            <i class="side-nav_icon">
                <img src="/images/system/hamburger" alt="toggle sidenav open">
                <img src="/images/system/close" class="hidden" alt="toggle sidenav closed">
            </i>
        </div>
    </section>

    <section class="side-nav_list">
        
        <ul class="admin-nav_main">
            <li>
                <a href="/lecturers/render/dashboards/<%= lecturer.id %>" <%= currentPage === 'dashboard' ? 'aria-current=page' : '' %> >
                    <i class="side-nav_icon">
                        <img src="/images/system/home" alt="application logo">
                    </i>
                    <p class="nav_name">Home</p>
                </a>
                <div class="abstract-tooltip">Home</div>
            </li>
            <li>
                <a href="/lecturers/render/courses/<%= lecturer.id %>" <%= currentPage === 'courses' ? 'aria-current=page' : '' %> >
                    <i class="side-nav_icon">
                        <img src="/images/system/courses" alt="application logo">
                    </i>
                    <p class="nav_name">Courses</p>
                </a>
                <div class="abstract-tooltip">Courses</div>
            </li>
            <li>
                <a href="/lecturers/render/schedules/<%= lecturer.id %>" <%= currentPage === 'schedules' ? 'aria-current=page' : '' %> >
                    <i class="side-nav_icon">
                        <img src="/images/system/schedule" alt="application logo">
                    </i>
                    <p class="nav_name">Schedule</p>
                </a>
                <div class="abstract-tooltip">Schedule</div>
            </li>
            <li>
                <a href="/lecturers/render/classrooms/<%= lecturer.id %>" <%= currentPage === 'classrooms' ? 'aria-current=page' : '' %> >
                    <i class="side-nav_icon">
                        <img src="/images/system/classrooms" alt="application logo">
                    </i>
                    <p class="nav_name">Classes</p>
                </a>
                <div class="abstract-tooltip">Classes</div>
            </li>
        </ul>
    </section>

    <section class="side-secondary_nav">
        <ul>
            <li>
                <a href="#">
                    <i class="side-nav_icon">
                        <img src="/images/system/notifications" alt="application logo">
                    </i>
                    <p class="nav_name">Notifications</p>
                </a>
                <div class="abstract-tooltip">Notifications</div>
            </li>
            <li>
                <a href="#">
                    <i class="side-nav_icon">
                        <img src="/images/system/announcements" alt="application logo">
                    </i>
                    <p class="nav_name">Announcements</p>
                </a>
                <div class="abstract-tooltip">Announcements</div>
            </li>
            <li>
                <a href="#">
                    <i class="side-nav_icon">
                        <img src="/images/system/tickets" alt="application logo">
                    </i>
                    <p class="nav_name">Tickets</p>
                </a>
                <div class="abstract-tooltip">Tickets</div>
            </li>
        </ul>
    </section>

    <section class="side-nav_actions">
        <ul>
            <li>
                <a href="#">
                    <i class="side-nav_icon">
                        <img src="/images/system/faq" alt="application logo">
                    </i>
                    <p class="nav_name">FAQs</p>
                </a>
                <div class="abstract-tooltip">FAQs</div>
            </li>
            <li>
                <a href="#">
                    <i class="side-nav_icon">
                        <img src="/images/system/settings" alt="application logo">
                    </i>
                    <p class="nav_name">Settings</p>
                </a>
                <div class="abstract-tooltip">Settings</div>
            </li>
        </ul>
    </section>
</nav>