<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/global/root">
    <link rel="stylesheet" href="/css/global/header">
    <link rel="stylesheet" href="/css/global/sidenav">
    <link rel="stylesheet" href="/css/global/main">
    <% for( let styleUrl of stylesheets) { %>
        <link rel="stylesheet" href="<%= styleUrl %>">
    <% } %>
    <title>
        ITLE(Admin): <%= pageTitle %>
    </title>
</head>

<body>
    
    <!-- include header -->
    <%- include('templates/header') %>

    <nav class="sidebar">
        <div class="top">
            <div class="logo">
                <i>
                    <div id="icon8">icons by <a href="https://icons8.com">Icons8</a></div>
                </i>
                <span></span>
            </div>
            <i class="" id="btn">
                <img
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAABHElEQVR4nO3WUUdDYRwG8MOOyCETEzOSSCQyMTEjk97TB+hUkpQkzWQzk5KkbO9HqENkRERERCQiImLEESM7RG37DM8uZpc7TTd71fPjf/883vfi0TQiIqK/QsjvmWlZcYWs4qebyn0hfvSJyUMXsYMPRPdLmNh7R2TXwfjOG8LbRYxlXzGaecFI+hnDqScMbT1iMPmAgcQ9+jfvENq4RXD9Bn1r1wisXqF35RL+5Qv0LJ3DWCyge+EMXfOn0C27cbO267OOzZYFlA5vNUuclD1eQPHwVuN+XUCF8LpXAa8vpEp43esLmfmaKfKVssrhfXO2aFmAiKizBLeQwy1kcAtJbiFwCxHRPyW4hRxuIYNbSHILgVuIiIhIa08d5UPvZUT5powAAAAASUVORK5CYII=">
            </i>
        </div>
        <div class="user">
            <div>
                <section class="adminProfileCard">
                    <div>
                        <img src="/images/darkSide" alt="me" class="user-img">
                        <div class="img-div">
                            <p class="bold">
                                <%= admin.firstname %>
                                    <%= admin.lastname %>
                            </p>
                            <p class="role">
                                <%= admin.faculty%>
                            </p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <ul>
            <li>
                <a href="/admins/render/dashboards/<%= admin.id %>">
                    <i class="">
                        <img src="/images/dashboard" alt="dashboard">
                    </i>
                    <span class="nav-item">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li>
            <li>
                <a href="/admins/render/students/<%= admin.id %>">
                    <i class=''>
                        <img src="/images/student" alt="student">
                    </i>
                    <span class="nav-item">Students</span>
                </a>
                <span class="tooltip">Students</span>
            </li>
            <li>
                <a href="/admins/render/tutors/<%= admin.id %>">
                    <i class="">
                        <img src="/images/teacher" alt="courses">
                    </i>
                    <span class="nav-item">Lecturers</span>
                </a>
                <span class="tooltip">Lecturers</span>
            </li>
            <li>
                <a href="/admins/render/courses/<%= admin.id %>">
                    <i class="">
                        <img src="/images/courses" alt="courses">
                    </i>
                    <span class="nav-item">Courses</span>
                </a>
                <span class="tooltip">Courses</span>
            </li>
        </ul>
        <div class="logout-navsec">
            <li id="logout-li">
                <a href="#">
                    <i class="">
                        <img src="/images/logout" alt="logout">
                    </i>
                    <span class="nav-item">Logout</span>
                </a>
                <span class="tooltip">Logout</span>
            </li>
        </div>
        <script>
            document.getElementById("logout-li").addEventListener("click", ()=> {
                sessionStorage.clear();
                localStorage.clear();
                window.location.reload()
            })
        </script>
    </nav>
    <script>
        let btn = document.querySelector('#btn');
        let sidebar = document.querySelector('.sidebar');

        btn.onclick = () => {
            sidebar.classList.toggle('active');
        }
    </script>
    <main class="wrapper-main main-content" id="wrapper-main">
        <%- include(pageUrl) %>
    </main>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/script/utils/admin/util.restful"></script>
    <script src="/script/scripts/admin/global.search"></script>
    <% for( let scriptUrl of scripts) { %>
        <script src="<%= scriptUrl %>"></script>
    <% } %>
</body>

</html>