<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
    <div>
        <% if (!adminId) { %>
            unauthorised access!! redirecting you to the login page automatically.
            if you are not redirected automatically, click the button below
            <br>
            <button>
                <a href="/admin/logins/login">Login Page</a>
            </button>
            <button>
                <a href="/admin/logins/create">Create new admin</a>
            </button>
            <div>
                <%= adminId %>
                <%= adminObject %>
                <%= role%>
            </div>
        <% } else {%>
            <div>Welcome <%= adminObject.firstName %></div>
            <div>
                <p>Admin ID: <%= adminId %></p>
                <p>Name: <%= adminObject.firstName %> <%= adminObject.lastName %></p>
                <p>Department: <%= adminObject.department %></p>
                <p>Role: <%= adminObject.role%></p>
            </div>
        <% } %>
    </div>
</body>
</html>