<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Import <%= victim %></title>
</head>
<body>
    <div style="display: none;">
        <p id="_id"><%= id %></p>
        <p id="adminId"><%= adminId %></p>
        <p id="role"><%= role %></p>
    </div>
    <div class="form-container">
        <form action="/admin/users/createMany?id=<%= id %>&&adminId=<%= adminId %>&&role=<%= role %>" method="post" id="first_years" class="uploads_form" enctype="multipart/form-data">
            <h2>Level 100</h2>
            <div>
                <label for="file">Upload a json document</label>
                <input type="file" name="file" id="first_years" required>
            </div>
            <div>
                <input type="submit" value="Upload">
            </div>
        </form>
    </div>
    <div class="form-container">
        <h2>Level 200</h2>
        <form action="/admin/users/createMany?id=<%= id %>&&adminId=<%= adminId %>&&role=<%= role %>" method="post" id="second_years" class="uploads_form" enctype="multipart/form-data">
            <div>
                <label for="file">Upload a json document</label>
                <input type="file" name="file" id="second_years" required>
            </div>
            <div>
                <input type="submit" value="Upload">
            </div>
        </form>
    </div>
    <div class="form-container">
        <form action="/admin/users/createMany?id=<%= id %>&&adminId=<%= adminId %>&&role=<%= role %>" method="post" id="third_years" class="uploads_form" enctype="multipart/form-data">
            <h2>Level 300</h2>
            <div>
                <label for="file">Upload a json document</label>
                <input type="file" name="file" id="third_years" required>
            </div>
            <div>
                <input type="submit" value="Upload">
            </div>
        </form>
    </div>
    <div class="form-container">
        <form action="/admin/users/createMany?id=<%= id %>&&adminId=<%= adminId %>&&role=<%= role %>" method="post" id="fourth_years" class="uploads_form" enctype="multipart/form-data">
            <h2>Level 400</h2>
            <div>
                <label for="file">Upload a json document</label>
                <input type="file" name="file" id="fourth_years" required>
            </div>
            <div>
                <input type="submit" value="Upload">
            </div>
        </form>
    </div>
    <script src="/script/utils/admin/util.restful"></script>
    <script src="/script/scripts/admin/uploadJson"></script>
</body>
</html>