<section class="archon-main">

    <div class="container">

        <!-- header for the section -->
        <div class="section-header">
            <div class="section-header-main">Header goes here</div>
            <div class="section-header-nav">
                <button>
                    <a href="/admin/logins/create?id=<%= _id %>&&adminId=<%= adminId %>&&role=<%= role %>">Create new admin</a>
                </button>
                <button>
                    <a href="/admin/logins/manage?id=<%= _id %>&&adminId=<%= adminId %>&&role=<%= role %>">Manage Admnistrators</a>
                </button>
            </div>
        </div>

    </div>

</section>