<section id="classes-parent_container">
    <% if (classes.length === 0 || classes === undefined) { %>
        <article class="header">
            <div class="button-wrapper">
                <a href="/admin/classes/create/<%= admin.id %>" id="script">Run create classrooms</a>
                <small class="classes-btn-tooltip" id="run-script">This will run a program to start the class creation and scheduling processes.</small>
            </div>
        </article>
        <h3>List of all Classes</h3>
        <article class="classes-list">
            <div>No classes have been created yet</div>

        </article>
    <% } else { %>
        <article class="header">
            <a href="/admin/classes/create/<%= admin.id %>" id="script">Run update classrooms</a>
            <small class="classes-btn-tooltip" id="run-script">This will run a program to rerun the class creation and scheduling processes</small>
        </article>
        <h3>List of all Classes</h3>
        <article class="classes-list">
            <div class="classes-list-right">
                <ul id="admin-class-list-ul">
                    <% for( let c of classes ) { %>
                        <li class="admin-class-list-li">
                            <a href="#">
                                <div class="class-profile-image">
                                    <img src="<%= c.profileUrl %>" alt="class profile" width="45px" height="45px">
                                </div>
                                <div class="class-info">
                                    <div class="class-id">
                                        <p><%= c.classId %></p>
                                    </div>
                                    <div class="class-count">
                                        <p><%= c.students.length %> students</p>
                                    </div>
                                </div>
                                <div class="courses-info">
                                    <span><%= c.courses.length %> courses</span>
                                </div>
                                <div class="schedule-btn">
                                    <button>view schedule</button>
                                </div>
                            </a>
                        </li>
                    <% } %>
                    
                </ul>
            </div>
        </article>
    <% } %>
</section>