<section class="forge-main">
    <style>
        .modal-content {
            display: block;
            background-color: white;
            color: inherit;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
            border: 1px solid black;
            position: fixed;
            height: 70vh;
            width: 90vw;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            padding: 1rem;
            overflow-y: scroll;
        }
    </style>

    <div class="container">
        <!-- header for the section -->    
        <div class="section-header">
            <div class="section-header-main">Header goes here</div>
            <div class="section-header-nav">
                <button>
                    <a href="/admin/users/createOne?id=<%= _id %>&&adminId=<%= adminId %>&&role=<%= role %>">Create new User</a>
                </button>
                <button>
                    <a href="/admin/users/import/students?id=<%= _id %>&&adminId=<%= adminId %>&&role=<%= role %>">Import Users</a>
                </button>
                <button>
                    <a href="/admin/users/manage?id=<%= _id %>&&adminId=<%= adminId %>&&role=<%= role %>">Manage Users</a>
                </button>
            </div>
        </div>


        <!-- list of available users -->

        <div class="section-users section-body">
            <div class="section-body-header">
                <br>
                <button type="button" id="nextPage">Next</button>
                <button type="button" id="resetBtn">Reset</button>
                <div class="students" data-offset="0">
                    <table>
                        <thead>
                            <th class="table-head" id="studentId">StudentId</th>
                            <th class="table-head" id="firstname">Firstname</th>
                            <th class="table-head" id="lastname">Lastname</th>
                            <th class="table-head" id="level">Level</th>
                            <th class="table-head" id="program">Program</th>
                            <th class="table-head" id="department">Department</th>
                            <th class="table-head" id="courses">Courses</th>
                            <th class="table-head" id="repos">Repositories</th>
                            <th class="table-head" id="files">Submissions</th>
                        </thead>
                        <tbody id="students-list">
                            
                        </tbody>
                    </table>
                </div>
                <script src="/script/scripts/admin/forge"></script>
            </div>
        </div>

    </div>

</section>