<section class="forge-main" data-label-faculty="<%= faculty %>">
    <!-- 
        default (dashboard)
students.ejs lecturers.ejs courses.ejs view-profile.ejs settings.ejs create-one-user.ejs import-users.ejs manage-users.ejs manage-one-user.ejs

    -->

    <% if (render == 'default') { %>
        <%- include('forge/dashboard') %>
    <% } else if (render == 'students') { %>
        <%- include('forge/students-table') %>
    <% } else if (render == 'lecturers') { %>
        <%- include('forge/lecturers') %>
    <% } else if (render == 'courses') { %>
        <%- include('forge/courses') %>
    <% } else if (render == 'view-profile') { %>
        <%- include('forge/view-profile') %>
    <% } else if (render == 'settings') { %>
        <%- include('forge/settings') %>
    <% } else if (render == 'create-one-user') { %>
        <%- include('forge/create-one-user') %>
    <% } else if (render == 'import-users') { %>
        <%- include('forge/import-users') %>
    <% } else if (render == 'manage-users') { %>
        <%- include('forge/manage-users') %>
    <% } else if (render == 'manage-one-user') { %>
        <%- include('forge/manage-one-user') %>
    <% } else { %>
        <%- include('forge/dashboard') %>
    <% }  %>
</section>