<section class="forge-main">

    div class="container">

        <!-- header for the section -->    
        <div class="section-header">
            <div class="section-header-main">Header goes here</div>
            <div class="section-header-nav">
                <button>
                    <a href="/admin/users/createOne?id=<%= _id %>&&adminId=<%= adminId %>&&role=<%= role %>">Create new User</a>
                </button>
                <button>
                    <a href="/admin/users/import?id=<%= _id %>&&adminId=<%= adminId %>&&role=<%= role %>">Import Users</a>
                </button>
                <button>
                    <a href="/admin/users/manage?id=<%= _id %>&&adminId=<%= adminId %>&&role=<%= role %>">Manage Users</a>
                </button>
            </div>
        </div>


        <!-- list of available users -->

        <div class="section-users section-"></div>

    </div>

</section>