<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon" type="image/x-icon">
    <link rel="stylesheet" href="/css/global/root">
    <link rel="stylesheet" href="/css/global/header">
    <% for( let styleUrl of stylesheets) { %>
        <link rel="stylesheet" href="<%= styleUrl %>">
    <% } %>
    <% for( let scriptUrl of utilityScripts) { %>
        <script src="<%= scriptUrl %>"></script>
    <% } %>

    <title><%= pageTitle %></title>
</head>
<body>
    <!-- include header -->
    <%- include(headerUrl) %>
    
    <!-- Include the body -->
    <%- include(bodyUrl) %>
</body>
</html>