<nav id="nav-main" class="nav-main open" aria-label="main navigation">

    <section class="side-header">

        <div class="side-header_logo">

            <i class="side-nav_icon">
                <img src="/images/system/user" alt="application user">
            </i>

            <p>Student</p>
        </div>

        <div class="side-header_toggle-btn">
            <i class="side-nav_icon">
                <img src="/images/system/hamburger" alt="toggle sidenav open">
                <img src="/images/system/close" class="hidden" alt="toggle sidenav closed">
            </i>
        </div>
    </section>

    <section class="side-nav_list">

        <ul class="admin-nav_main">
            <li>
                <a href="/students/render/dashboards/<%= student.id %>">
                    <i class="side-nav_icon">
                        <img src="/images/system/home" alt="application logo">
                    </i>
                    <p class="nav_name">Home</p>
                </a>
                <div class="abstract-tooltip">Home</div>
            </li>
            <li>
                <a href="/students/render/courses/<%= student.id %>">
                    <i class="side-nav_icon">
                        <img src="/images/system/courses" alt="application logo">
                    </i>
                    <p class="nav_name">Courses</p>
                </a>
                <div class="abstract-tooltip">Courses</div>
            </li>
            <li>
                <a href="/students/render/schedules/<%= student.id %>">
                    <i class="side-nav_icon">
                        <img src="/images/system/schedule" alt="application logo">
                    </i>
                    <p class="nav_name">Schedule</p>
                </a>
                <div class="abstract-tooltip">Schedule</div>
            </li>
            <li>
                <a href="/students/render/classroom/<%= student.id %>">
                    <i class="side-nav_icon">
                        <img src="/images/system/classrooms" alt="application logo">
                    </i>
                    <p class="nav_name">Classroom</p>
                </a>
                <div class="abstract-tooltip">Classroom</div>
            </li>
            <li>
                <a href="/students/render/register-courses/<%= student.id %>">
                    <i class="side-nav_icon">
                        <img src="/images/system/notifications" alt="application logo">
                    </i>
                    <p class="nav_name">Register Courses</p>
                </a>
                <div class="abstract-tooltip">Register Courses</div>
            </li>
            <li>
                <a href="/students/render/notifications/<%= student.id %>">
                    <i class="side-nav_icon">
                        <img src="/images/system/notifications" alt="application logo">
                    </i>
                    <p class="nav_name">Notifications</p>
                </a>
                <div class="abstract-tooltip">Notifications</div>
            </li>
            <li>
                <a href="/students/render/announcements/<%= student.id %>">
                    <i class="side-nav_icon">
                        <img src="/images/system/announcements" alt="application logo">
                    </i>
                    <p class="nav_name">Announcements</p>
                </a>
                <div class="abstract-tooltip">Announcements</div>
            </li>
            <li>
                <a href="/students/render/add-ticket/<%= student.id %>">
                    <i class="side-nav_icon">
                        <img src="/images/system/tickets" alt="application logo">
                    </i>
                    <p class="nav_name">Submit Ticket</p>
                </a>
                <div class="abstract-tooltip">Submit Ticket</div>
            </li>
        </ul>
    </section>

    <section class="side-nav_actions">
        <ul>
            <li>
                <a href="/students/render/faqs/<%= student.id %>">
                    <i class="side-nav_icon">
                        <img src="/images/system/faq" alt="application logo">
                    </i>
                    <p class="nav_name">FAQs</p>
                </a>
                <div class="abstract-tooltip">FAQs</div>
            </li>
            <li>
                <a href="/students/render/settings/<%= student.id %>">
                    <i class="side-nav_icon">
                        <img src="/images/system/settings" alt="application logo">
                    </i>
                    <p class="nav_name">Settings</p>
                </a>
                <div class="abstract-tooltip">Settings</div>
            </li>
            <li>
                <a href="/students/render/dashboards/<%= student.id %>">
                    <i class="side-nav_icon">
                        <img src="/images/system/logout" alt="application logo">
                    </i>
                    <p class="nav_name">Logout</p>
                </a>
                <div class="abstract-tooltip">Logout</div>
            </li>
        </ul>
    </section>
</nav>