<nav id="nav-main" class="nav-main open" aria-label="main navigation">
    <section class="side-nav_list">

        <ul class="admin-nav_main">
            <li>
                <a href="/students/render/courses/<%= student.id %>">
                    <i class="side-nav_icon">
                        <img src="/images/system/courses" alt="application logo">
                    </i>
                    <p class="nav_name">Courses</p>
                </a>
                <div class="abstract-tooltip">Courses</div>
            </li>
            <li>
                <a href="/students/render/schedules/<%= student.id %>">
                    <i class="side-nav_icon">
                        <img src="/images/system/schedule" alt="application logo">
                    </i>
                    <p class="nav_name">Schedule</p>
                </a>
                <div class="abstract-tooltip">Schedule</div>
            </li>
            <li>
                <a href="/students/render/submissions/<%= student.id %>">
                    <i class="side-nav_icon">
                        <img src="/images/system/assignments" alt="application logo">
                    </i>
                    <p class="nav_name">Submissions</p>
                </a>
                <div class="abstract-tooltip">Submissions</div>
            </li>
            <li>
                <a href="/students/render/quizzes/<%= student.id %>">
                    <i class="side-nav_icon">
                        <img src="/images/system/assignments" alt="application logo">
                    </i>
                    <p class="nav_name">Quizzes</p>
                </a>
                <div class="abstract-tooltip">Quizzes</div>
            </li>
            <li>
                <a href="/students/render/register-courses/<%= student.id %>">
                    <i class="side-nav_icon">
                        <img src="/images/system/projects" alt="application logo">
                    </i>
                    <p class="nav_name">Register Courses</p>
                </a>
                <div class="abstract-tooltip">Register Courses</div>
            </li>
            <li>
                <a href="/students/render/announcements/<%= student.id %>">
                    <i class="side-nav_icon">
                        <img src="/images/system/announcements" alt="application logo">
                    </i>
                    <p class="nav_name">Announcements</p>
                </a>
                <div class="abstract-tooltip">Announcements</div>
            </li>
            <li>
                <a href="/global/submit-ticket/student/<%= student.id %>">
                    <i class="side-nav_icon">
                        <img src="/images/system/tickets" alt="application logo">
                    </i>
                    <p class="nav_name">Submit Ticket</p>
                </a>
                <div class="abstract-tooltip">Submit Ticket</div>
            </li>
        </ul>
    </section>

    <section class="side-nav_actions">
        <ul>
            <li>
                <a href="/students/render/faqs/<%= student.id %>">
                    <i class="side-nav_icon">
                        <img src="/images/system/faq" alt="application logo">
                    </i>
                    <p class="nav_name">FAQs</p>
                </a>
                <div class="abstract-tooltip">FAQs</div>
            </li>
            <li>
                <a href="/students/render/settings/<%= student.id %>">
                    <i class="side-nav_icon">
                        <img src="/images/system/settings" alt="application logo">
                    </i>
                    <p class="nav_name">Settings</p>
                </a>
                <div class="abstract-tooltip">Settings</div>
            </li>
            <li>
                <a href="/login" id="logout">
                    <i class="side-nav_icon">
                        <img src="/images/system/logout" alt="application logo">
                    </i>
                    <p class="nav_name">Logout</p>
                </a>
                <div class="abstract-tooltip">Logout</div>
                <script>
                    document.getElementById("logout").addEventListener("click", (e) =>{
                        e.preventDefault();
                        const confirm = window.confirm("You're about to logout. Are you sure you want to continue?");

                        if (confirm) {
                            window.sessionStorage.clear();
                            window.localStorage.clear();
                            window.location.href = '/login';
                        }
                    })
                </script>
            </li>
        </ul>
    </section>
</nav>

<script>
    //get the width of the viewport
    const deviceWidth = window.innerWidth;
    const navPane = document.getElementById("nav-main");
    const profileBtn = document.getElementById("user_profile-header");
    const profilesName = profileBtn.querySelector(".username");

    if (deviceWidth < 768) {
        navPane.classList.add("hidden");
        profilesName.classList.add("hidden");

        profileBtn.addEventListener("click", (e) => {
            e.preventDefault();
            navPane.classList.toggle("hidden");
        });

        document.addEventListener("click", (e) => {
            if (!navPane.contains(e.target) && !profileBtn.contains(e.target)) {
                navPane.classList.add("hidden");
            }
        });
    } else {
        navPane.classList.remove("hidden");
        profilesName.classList.remove("hidden");
    }


</script>