<section class="student-classroom_main">
    <p>classId: <%= data.classId %></p>
    <p>students: <%= data.students %></p>
    <p>schedule: <%= data.schedule %></p>
    <p>faculty: <%= data.faculty %></p>
    <p>courses: <%= data.courses %></p>
    <p>session: <%= data.session %></p>
</section>