<section class="course-main" id="course-main">

    <input type="hidden" name="courseId" id="courseId" value="<%= course._id %>">
    <input type="hidden" name="v" id="v" value="<%= course.__v %>">

    <section class="course-overview">
        <article class="overview-header">
            <div class="coursetitle">
                <h1>
                    <%= course.title %> (<%= course.courseCode %>)
                </h1>
            </div>
            <div class="add-lesson-chapter">
                <button type="button" id="join-class">
                    <a href="/students/start-live/<%= student.id %>/<%= course._id %>">Join Class</a>
                </button>
            </div>
        </article>

        <% if (course.chapters.length==0) { %>
            <p>No chapters for this course</p>
            <% } else { %>
                <article class="chapters" id="chapters-container">
                    <% for( let i=0; i < course.chapters.length; i++ ) { %>
                        <div class="chapter">
                            <div class="chapter-banner">
                                <img src="/random/image/" alt="chapter banner">
                            </div>
                            <div class="chapter-description">
                                <div class="chpt-des-outline">
                                    <div class="outline-title">
                                        <h2>Chapter <%= i + 1 %>
                                        </h2>
                                    </div>
                                    <div class="outline-chapters">
                                        <ol id="lessons-container-<%= i + 1  %>">
                                            <% if (course.chapters[i].lessons.length==0) { %>
                                                <p>No available lessons for this chapter</p>
                                                <% } %>
                                                    <% for( let lesson of course.chapters[i].lessons) { %>
                                                        <li>
                                                            <%= lesson %>
                                                        </li>
                                                        <% } %>
                                        </ol>
                                    </div>
                                </div>
                                <div class="chpt-des-overview">

                                    <div class="chaper-stats">
                                        <div>
                                            <img src="/images/system/timer" alt="class duration" width="35px">
                                            <div class="class-duration">
                                                <p>50 Min</p>
                                                <small>Class Duration</small>
                                            </div>
                                        </div>
                                        <div>
                                            <img src="/images/system/courses" alt="number of lessons" width="35px">
                                            <div class="course-lessons">
                                                <p>5 Lessons</p>
                                                <small>Class Outline</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="chapter-actions">
                                <div class="chapter-actions-btns">
                                    <a href="/students/start-live/<%= student.id %>/<%= course._id %>" id="live-btn">
                                        <p>Join Live</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </article>
                <% } %>
    </section>

    <section class="course-materials">
        <h3>Course Materials</h3>
        <% if (course.chapters.length==0) { %>
            <p>No materials for this course</p>
            <% } else { %>
                <% for( let i=0; i < course.chapters.length; i++ ) { %>
                    <% if (course.chapters[i].courseMaterials.length==0) { %>
                        <p></p>
                        <% } else { %>
                            <details class="chapter-material">
                                <summary>Chapter <%= i + 1 %>
                                </summary>
                                <% for( let j=0; j < course.chapters[i].courseMaterials.length; j++ ) { %>
                                    <div>
                                        <img src="/random/image/" alt="video file" width="20px">
                                        <a href="<%= course.chapters[i].courseMaterials[j].url %>"
                                            download="<%= course.chapters[i].courseMaterials[j].title %>">
                                            <%= course.chapters[i].courseMaterials[j].title %>
                                        </a>
                                    </div>
                                    <% } %>
                            </details>
                            <% } %>
                                <% } %>
                                    <% } %>
    </section>

    <section class="course-recordings">
        <h3>Lecture Recordings</h3>
        <% if (course.chapters.length==0) { %>
            <p>No recordings for this course</p>
            <% } else { %>
                <% for( let i=0; i < course.chapters.length; i++ ) { %>
                    <% if (course.chapters[i].courseLectureRecordings.length==0) { %>
                        <p></p>
                        <% } else { %>
                            <% for( let rec of course.chapters[i].courseLectureRecordings) { %>
                                <details class="chapter-material">
                                    <summary>Chapter <%= i + 1 %>
                                    </summary>
                                    <div>
                                        <img src="/random/image/" alt="video file" width="20px">
                                        <a href="<%=rec.fileUrl %>" download="<%=rec.title %>.mp4">
                                            <%= rec.title %>
                                        </a>
                                    </div>
                                </details>
                                <% } %>
                                    <% } %>
                                        <% } %>
                                            <% } %>
    </section>
    <div class="chapter-form">
    </div>
</section>