<section id="profile-main-wrapper">
    <div class="profile-container">
        <div class="profile-header">
            <img src="<%= data.profilePicUrl %>" alt="Profile Picture" class="profile-picture" id="edit-pp-button">
            <div class="profile-info">
                <h1 class="profile-name"><%= data.firstName %> <%= data.lastName %></h1>
                <p class="profile-id"><span>StudentID</span>: <%= data.studentId %></p>
                <p class="profile-role"><span>Program:</span> <%= data.program %></p>
                <p class="profile-role"><span>Level:</span><%= data.level %></p>
                <p class="profile-role"><span> Session:</span> <%= data.session %></p>
                <p class="profile-contact"><span>Contact:</span> <%= data.studentId %>@live.gctu.edu.gh  ||  <%= data.phone? data.phone : "+ 233 not added" %></p>
                <p class="profile-role"><span>ClassId:</span> <%= data.classId %></p>
                <p class="profile-role"><span>Registered:</span> <%= data.courses.length === 0 ? "Courses not registered" : `Yes(${data.registeredCourses})` %></p>
            </div>
        </div>
        <div class="recent-activity">
            <h2>Recent Activity</h2>
            <ul class="activity-list">
                <li>Joined a class</li>
                <li>Submitted an assignment</li>
                <li>Completed a project</li>
                <li>Updated profile information</li>
            </ul>
        </div>
    </div>
    <script>
        const userId = JSON.parse(window.sessionStorage.getItem("auth-user")).data.id;

        if (!userId) {
            window.sessionStorage.clear();
            window.localStorage.clear();
            window.location.href = "/login";
        } else {
            const ppBtn = document.getElementById("edit-pp-button");
            ppBtn.addEventListener("click", () => {
                console.log("clicked");

                const updatePPForm = document.createElement("form");
                updatePPForm.method = "post";
                updatePPForm.action = `/student/profile/update-component/profile-picture/${userId}`;
                updatePPForm.enctype = "multipart/form-data";
                updatePPForm.innerHTML = `
                    <input type="file" name="profile_picture" required="true" id="file-input">
                `;
                updatePPForm.style.display = "none";
                document.getElementById("profile-main-wrapper").append(updatePPForm);

                updatePPForm.querySelector("#file-input").click();

                const fileInput = updatePPForm.querySelector("#file-input")
                fileInput.addEventListener("change", async (e) => {
                    const file = e.target.files[0];
                    const allowedTypes = ['image/jpeg', 'image/jpg', 'image/png', 'image/gif'];

                    if (file && allowedTypes.includes(file.type)) {
                        updatePPForm.submit();
                    } else {
                        alert('Please upload a valid image file (JPEG, JPG, PNG, GIF)');
                    }
                });
            });
        }

    </script>
</section>