<section class="student-profile_main">
    <div class="profile-container">
        <div class="profile-header">
            <img src="<%= data.profilePicUrl %>" alt="Profile Picture" class="profile-picture">
            <div class="profile-info">
                <h1 class="profile-name"><%= data.firstName %> <%= data.lastName %></h1>
                <p class="profile-id"><span>StudentID</span>: <%= data.studentId %></p>
                <p class="profile-role"><span>Program:</span> <%= data.program %></p>
                <p class="profile-role"><span>Level:</span><%= data.level %></p>
                <p class="profile-role"><span> Session:</span> <%= data.session %></p>
                <p class="profile-contact"><span>Contact:</span> <%= data.studentId %>@live.gctu.edu.gh  ||  <%= data.phone? data.phone : "+ 233 not added" %></p>
                <p class="profile-role"><span>ClassId:</span> <%= data.classId %></p>
                <p class="profile-role"><span>Registered:</span> <%= data.courses.length === 0 ? "Courses not registered" : `Yes(${data.registeredCourses})` %></p>
            </div>
        </div>
        <div class="recent-activity">
            <h2>Recent Activity</h2>
            <ul class="activity-list">
                <li>Joined a class</li>
                <li>Submitted an assignment</li>
                <li>Completed a project</li>
                <li>Updated profile information</li>
            </ul>
        </div>
    </div>
</section>