<section class="quizzes-main" id="quizzes-main">
    <% if (data.length === 0) { %>
     <div class="no-data">
        <p>No quizzes available for you at the moment.</p>
        <p>Enjoy the silence</p>
     </div>
    <% } else { %>
        <div id="quiz-list">
            <ul>
                <% for( let quiz of data) { %>
                    <li>
                        <article class="header" data-id="<%= quiz.id %>">
                            <div class="title"><%= quiz.title %></div>
                            <div class="lecturer"><%= quiz.lecturer %></div>
                        </article>
                        <div class="q-count"><%= quiz.questions.questions.length %> Quizzes</div>
                        <div class="q-list">
                            <ul>
                                <% for( let question of quiz.questions.questions ) { %>
                                    <li>
                                        <a href="#"><%= question.title %> (<%= question.questions.length %>)</a>
                                        <span class="taken-status">Pending</span>
                                        <span>Due: <strong><%= new Date().toLocaleString() %></strong></span>
                                    </li>
                                <% } %>
                            </ul>
                        </div>
                    </li>
                <% } %>
            </ul>
        </div>
    <% } %>
</section>