<section class="onboard-main" id="onboard-main">
    <input type="hidden" name="qsts" id="qsts" value="<%= JSON.stringify(data) %>" style="display: none;">

    <div class="header" id="q-header">
        <div class="info">
            <span>Title: <strong>
                    <%= data.title %>
                </strong></span>
            <span>Start at: <strong>
                    <%= new Date(data.start).toLocaleString() %>
                </strong></span>
            <span>Ends at: <strong>
                    <%= new Date(data.end).toLocaleString() %>
                </strong></span>
            <span>Duration: <strong>
                    <%= data.duration %>
                </strong> minutes</span>
            <span>Attempts: <strong>1
                </strong></span>
        </div>
        <div class="start-btn">
            <button type="button" onclick="startQuiz()">Start Quiz</button>
        </div>
    </div>
</section>