<section class="notifications-main" id="notifications_main">

    <div class="notifications-container" id="notifications-container">
        <div id="announcements" class="tab-content">
            
            <!-- Announcements content here -->
            <% if (data.length === 0) { %>
            <div class="notification-item">No announcements</div>
            <% } else { %>
                <% for( let announcement of data ) { %>
                    <div class="notification-item">
                        <div class="notification-details">
                            <p class="annc-title"><%= announcement.title %></p>
                            <p class="pub-date"><%= new Date(announcement.date).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %></p>

                            <div class="ann-mnt">
                                <p class="greetings"><%= announcement.greetings %></p>
                                <br>
                                <p class="paragraph"><%= announcement.content %></p>
                                <br>
                                <p class="closing-remarks"><%= announcement.closing %></p>
                                <p class="author"><%= announcement.userName %></p>
                            </div>
                            <% if (announcement.files.length > 0) { %>
                                <div class="atchs">Attachments</div>
                                <div class="attachments">
                                    <br>
                                    <% for( let file of announcement.files ) { %>
                                            <a href="/announcements/files/get?filename=<%= file.filename %>" download="<%= file.originalname %>"><i class="file-icon">📄</i><%= file.originalname %></a>
                                    <% } %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                <% } %>
            <% } %>
        </div>
    </div>
</section>