<section class="courses-main" id="courses-main">
    <article class="cards">
        <% if (data.length === 0 || !data) { %>
         <div>No courses available for your department</div>
         <div>Create a new course now.</div>
        <% } else { %>
            <% for( let course of data ) { %>
                <a href="/lecturers/render/course/<%= course._id %>/<%= lecturer.id %>" class="card" preload>
                    <section class="card-header">
                        <img src="/random/image/" alt="course thumbnail" width="150px" height="150px">
                    </section>
                    <section class="card-body">
                        <div class="title">
                            <h2><%= course.title %></h2>
                            <small><%= course.courseCode %></small>
                        </div>
                        <div class="professor">
                            <img src="/images/system/lecturer" alt="professor">
                            <% if (course.lecturer.lecturerId == "TU-000FoE" && course.lecturer.name == "unassigned") { %>
                                <p>No lecturer assigned</p>
                            <% } else { %>
                                <p><%= course.lecturer.name %></p>
                            <% } %>
                        </div>
                        <div class="footer">
                            <div class="highlight-footer">
                                <img src="/images/system/classrooms" alt="course level">
                                <small><%= course.level %></small>
                            </div>
                            <div class="highlight-footer">
                                <img src="/images/system/students" alt="students count">
                                <small><%= course.students.length %></small>
                            </div>
                        </div>
                    </section>
                </a>
            <% } %>
        <% } %>
    </article>
</section>