<section id="profile-main-wrapper">
    <section class="view-admin">
        <div class="profile-picture-container">
            <div class="image-wrapper">
                <img src="<%= String(lecturer.profilePicUrl).includes("no-id")? lecturer.profilePicUrl : "/users/admins/get-profile-picture/" + lecturer.id %>" alt="admin profile picture">
            </div>
            <div class="change-picture-button-wrapper">
                <button type="button" id="edit-pp-button">Change Picture</button>
            </div>
            <script>
                const userId = JSON.parse(window.sessionStorage.getItem("auth-user")).data.id;

                if (!userId) {
                    window.sessionStorage.clear();
                    window.localStorage.clear();
                    window.location.href = "/login";
                } else {
                    const ppBtn = document.getElementById("edit-pp-button");
                    ppBtn.addEventListener("click", () => {
                        console.log("clicked");

                        const updatePPForm = document.createElement("form");
                        updatePPForm.method = "post";
                        updatePPForm.action = `/admins/profile/update-component/profile-picture/${userId}`;
                        updatePPForm.enctype = "multipart/form-data";
                        updatePPForm.innerHTML = `
                            <input type="file" name="profile_picture" required="true" id="file-input">
                        `;
                        updatePPForm.style.display = "none";
                        document.getElementById("profile-main-wrapper").append(updatePPForm);

                        updatePPForm.querySelector("#file-input").click();

                        const fileInput = updatePPForm.querySelector("#file-input")
                        fileInput.addEventListener("change", async (e) => {
                            if ((e.target.value)) {
                                updatePPForm.submit();
                            }
                        });
                    });
                }

            </script>
        </div>
        <article id="user-info-main">
            <div class="article-form-container-main">
                <div class="form-item-pair">
                    <div class="form-item-pair-label">
                        <p>Admin ID: </p>
                    </div>

                    <div class="form-item-pair-value">
                        <p class="diabled">
                            <%= lecturer.lecturerId %>
                        </p>
                    </div>
                </div>
                <div class="form-item-pair">
                    <div class="form-item-pair-label">
                        <p>First name: </p>
                    </div>

                    <div class="form-item-pair-value">
                        <p class="diabled">
                            <%= lecturer.firstname %>
                        </p>
                    </div>
                </div>

                <div class="form-item-pair">
                    <div class="form-item-pair-label">
                        <p>Last name: </p>
                    </div>

                    <div class="form-item-pair-value">
                        <p class="diabled">
                            <%= lecturer.lastname %>
                        </p>
                    </div>
                </div>

                <div class="form-item-pair">
                    <div class="form-item-pair-label">
                        <p>Faculty: </p>
                    </div>

                    <div class="form-item-pair-value">
                        <p class="diabled">
                            <%= lecturer.faculty %>
                        </p>
                    </div>
                </div>
            </div>
        </article>
    </section>

    <section class="notifications-area">Notifications</section>
    <section class="activities-history">Activity History</section>
</section>