<section id="profile-main-wrapper">
    <div class="profile-container">
        <div class="profile-header">
            <img src="<%= lecturer.profilePicUrl %>" alt="Profile Picture" class="profile-picture">
            <div class="profile-info">
                <h1 class="profile-name"><%= lecturer.firstname %> <%= lecturer.lastname %></h1>
                <p class="profile-id"><span>LecturerID</span>: <%= lecturer.lecturerId %></p>
                <p class="profile-role"><span>Faculty:</span> <%= lecturer.faculty %></p>
            </div>
        </div>
        <div class="recent-activity">
            <h2>Recent Activity</h2>
            <ul class="activity-list">
                <li>Joined a class</li>
                <li>Submitted an assignment</li>
                <li>Completed a project</li>
                <li>Updated profile information</li>
            </ul>
        </div>
    </div>
</section>