<section id="profile-main-wrapper">
    <div class="profile-container">
        <div class="profile-header">
            <img src="<%= lecturer.profilePicUrl %>" alt="Profile Picture" class="profile-picture">
            <div class="profile-info">
                <h1 class="profile-name"><%= lecturer.firstname %> <%= lecturer.lastname %></h1>
                <p class="profile-id"><span>LecturerID</span>: <%= lecturer.lecturerId %></p>
                <p class="profile-role"><span>Faculty:</span> <%= lecturer.faculty %></p>
            </div>
        </div>
        <div class="recent-activity">
            <h2>Recent Activity</h2>
            <ul class="activity-list">
                <li>Joined a class</li>
                <li>Submitted an assignment</li>
                <li>Completed a project</li>
                <li>Updated profile information</li>
            </ul>
        </div>
    </div>
    <script>
        const userId = JSON.parse(window.sessionStorage.getItem("auth-user")).data.id;

        if (!userId) {
            window.sessionStorage.clear();
            window.localStorage.clear();
            window.location.href = "/login";
        } else {
            const ppBtn = document.getElementById("edit-pp-button");
            ppBtn.addEventListener("click", () => {
                console.log("clicked");

                const updatePPForm = document.createElement("form");
                updatePPForm.method = "post";
                updatePPForm.action = `/lecturer/profile/update-component/profile-picture/${userId}`;
                updatePPForm.enctype = "multipart/form-data";
                updatePPForm.innerHTML = `
                    <input type="file" name="profile_picture" required="true" id="file-input">
                `;
                updatePPForm.style.display = "none";
                document.getElementById("profile-main-wrapper").append(updatePPForm);

                updatePPForm.querySelector("#file-input").click();

                const fileInput = updatePPForm.querySelector("#file-input")
                fileInput.addEventListener("change", async (e) => {
                    const file = e.target.files[0];
                    const allowedTypes = ['image/jpeg', 'image/jpg', 'image/png', 'image/gif'];

                    if (file && allowedTypes.includes(file.type)) {
                        updatePPForm.submit();
                    } else {
                        alert('Please upload a valid image file (JPEG, JPG, PNG, GIF)');
                    }
                });
            });
        }

    </script>
</section>