<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/global/root">
    <link rel="stylesheet" href="/css/global/header">
    <link rel="stylesheet" href="/css/global/search-bar">
    <% for( let styleUrl of stylesheets) { %>
        <link rel="stylesheet" href="<%= styleUrl %>">
    <% } %>
    <title>
        ITLE(Lecturer): <%= pageTitle %>
    </title>
</head>

<body>
    <div class="container-max_width" id="container-max_width">
          <!-- include header -->
          <%- include('templates/header') %>
        <main>
            <section id="section-main">
                <%- include(pageUrl) %>
            </section>
        </main>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/script/utils/admin/util.restful"></script>
    <script src="/script/scripts/admin/global.search"></script>
    <% for( let scriptUrl of scripts) { %>
        <script src="<%= scriptUrl %>"></script>
    <% } %>
</body>

</html>